<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
        <div class="weather-view-container">
          <div class="temp">
            <div class="desc">
            <img src="http://openweathermap.org/img/wn/<%= weather.weather[0].icon
                      %>.png "alt="">
                      <h3><%= weather.weather[0].description %></h3>
            </div>
                      <h1><%= weather.main.temp %>
                        <span>&#8457;</span></h1>
          </div>
        </div>
        <% } %>

        <% if(error !== null){ %>
        <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
